<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>Airy.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Airy-Qt</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Airy-Qt</string>
	<key>CFBundleIdentifier</key>
	<string>co.Airy.Airy-Qt</string>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>co.Airy.AiryPayment</string>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>Airy</string>
            </array>
          </dict>
        </array>
        <key>LSAppNapIsDisabled</key>
        <string>True</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
		<key>NSHighResolutionCapable</key>
		<string>True</string>
</dict>
</plist>
